body{
    font-family: "Mitr", sans-serif;
    font-weight: 380;
    font-style: normal; 
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 350px auto;
    grid-template-areas: 
        "header"
        "content1"
        "content2";
}
.background{
    background: #24293D;

}
.page-header{
    /* background: lightcoral; */
    grid-area: header;
    color: white;
    font-size:40px;
    font-weight: 400;
    margin-top: 3%;
    
}
.page-nav{
    /* background: lightgreen; */
    grid-area: nav;
}
.page-wall{
    /* background: lightgray; */
    grid-area: wall;
}
.page-content1{
    /* background: lightblue; */
    grid-area: content1;

}
.box{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-areas: 
    "profile logo";
    border-color: #dedede;
    background: #ffffff;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 8%;
    margin-right: 8%;
}
.page-footer{
    background: rgb(46, 46, 46);
    grid-area: footer;
}
.page-content2{

    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    justify-items: center;
    grid-template-areas: 
    "item-img1 item-img2"
    "item-img3 item-img4"
    "item-img5 item-img4";
    background: #ffffff;
    border-top-left-radius : 20px;
    border-top-right-radius : 20px;
    margin-top: 15px;
}
.logo{
    grid-area: logo;
}
.profile{
    grid-area: profile;
    margin-left: 5%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 350;
    font-style: normal; 
    
    /* margin-bottom: 5%; */
}
.item-img1{
    grid-area: item-img1;
    margin-top: 5%;
}
.item-img2{
    grid-area: item-img2;
    margin-top: 5%;
}
.item-img3{
    grid-area: item-img3;
}
.item-img4{
    grid-area: item-img4;
}
.item-img5{
    grid-area: item-img5;
}
.img{
    border-radius: 15px;
    margin: 10px;
}
.shadow{
    box-shadow: 5px 3px 0px 1px #272727;
}  

/* ___________________________________________________________  */

.grid-info-page{
    display: grid;
}
.head-info-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color: white;
    min-height: 100px;
    margin-top: 50px;
    font-size: 40px;
    margin: 5%;
    justify-items: between;
}
.image-info-page{
    margin: 1px;
}
.info-info-page1{
    color: #ffffff;
    margin-top:5% ;
    font-size: 30px;
}
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    margin: 5%;
    
}
.info-info-page2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center;  
    margin: 5%;
    color: white;
    font-size: 25px;
    
}
.contact-info-page{
    background-color: #F4F4FC;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 220px;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: F4F4FC; 
}

.messenger{
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 25%;
    padding-top: 20px;
    height: 200px;
}

.img-profile{
    padding-left: 20px;
    padding-top: 20px;
}

